*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-word-header{
    width: 10%;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.info-perfil{
    display: none;
}