body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.content-empresa{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.empresa{
    width: 80%;
    border: 2px solid black;
    margin-top: 5vh;
    border-radius: 10px;
    padding: 10px;
}

.topo-empresa{
    display: flex;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.3em;
}

p{
    font-size: 1.2em;
}

.content-btn-delete{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-delete{
    line-height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 1em;
    padding: 3px;
    width: 100%;
    height: 5.5vh;
    border-radius: 5px;
    border: none;
    margin-top: 4vh;
    background-color: #459A96;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.btn-delete:hover{
    background-color: #fff;
    color: black;
}

.btn-delete:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2px solid #459A96;
    border-right: 2px solid #459A96;
}

.btn-delete:hover:after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid #459A96;
    border-left: 2px solid #459A96;
}

@keyframes border-top-right {
    0% {
        width: 0px;
        height: 0px;
    }

    25% {
        width: 100%;
        height: 0px;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes border-bottom-left {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    50% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    50.1% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    75% {
        width: 100%;
        height: 0px;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}