@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto+Condensed:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #fff;
}

#logo-word-header {
  padding-left: 0.8%;
  width: 10%;
}

.nav-link {
  width: 20%;
  padding-right: 15px;
  display: inline-flex;
  justify-content: space-between;
}

i {
  color: #000;
  font-size: 1.4em;
}

a {
  color: #000;
  font-size: 1.4em;
}

.nav-link a {
  position: relative;
  color: black;
  transition: 0.8s;
}

.nav-link a:hover {
  color: #459a96;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 266%;
  height: 3px;
  background: #459a96;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.8s;
}

.nav-link a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.menu-toggle {
  display: none;
  font-size: 2.4rem;
  cursor: pointer;
}

#bxicon {
  display: flex;
}

header h1 {
  justify-content: space-around;
}

.navegation {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 58px;
}

.navegation a {
  padding-top: 5px;
  margin: 0;
}

.navegation.active {
  display: flex;
  align-items: center;
  position: absolute;
}

.menu-toggle {
  display: flex;
}

.nav-span-menu {
  display: none;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img_perfil {
  border-radius: 50%;
}

a.link-nav-hamb{
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.5s;
}

a.link-nav-hamb:hover{
    color: #fff;
    background-color: #459a96;
    border-color: #fff;
}

#btn-new-vaga{
    line-height: 5.5vh;
    text-align: center;
    font-size: 1em;
    padding: 3px;
    position: relative;
    width: 20vw;
    height: 5.5vh;
    border-radius: 5px;
    border: none;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    background-color: #459A96;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

a#btn-new-vaga:hover{
    background-color: #fff;
    color: black;
}

a#btn-new-vaga:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2px solid #459A96;
    border-right: 2px solid #459A96;
    animation: border-top-right 3s infinite alternate;
}

a#btn-new-vaga:hover:after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid #459A96;
    border-left: 2px solid #459A96;
    animation: border-bottom-left 3s infinite alternate;
}

@keyframes border-top-right {
    0% {
        width: 0px;
        height: 0px;
    }

    25% {
        width: 100%;
        height: 0px;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes border-bottom-left {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    50% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    50.1% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    75% {
        width: 100%;
        height: 0px;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@media screen and (max-width: 1360px) {
  .nav-span {
    display: none;
  }

  .nav-span-menu {
    display: flex;
  }
}
